<div class='card'>
    <div class='card-header'>
        <!-- Added a binding from product-list.components.ts -->
        <!-- This is also known as Interpolation -->
        {{pageTitle}}
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <!-- TextBox To Search -->
                <!-- [()] Is a two way binding. It is used to update properties in the class file. -->
                <!-- The property that is updated by this binding will reflect are interpolated values in the view. -->
                <!-- Make sure to update AppModule delcaration to include FormsModule for ngModel -->
                <input type='text' 
                    [(ngModel)]='listFilter'/>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-6'>
            <h4>Filtered by: {{listFilter}}</h4>
        </div>
    </div>
    <div class='table-responsive'>
        <!-- *ngIf *gFor are part of the BrowserModule that we imported into AppModules-->
        <table class='table' *ngIf='products.length'>
            <thead>
                <tr>
                    <th>
                        <!-- Bound click event to a method in our ProductListComponent -->
                        <button class='btn btn-primary'
                            (click)='toggleImage()'>
                            <!-- If showImage is true, display Hide Image, if false then Show Message -->
                            {{showImage ? 'Hide' : 'Show'}} Image
                        </button>
                    </th>
                    <th>Product</th>
                    <th>Code</th>
                    <th>Available</th>
                    <th>Price</th>
                    <th>5 Star Rating</th>
                </tr>
            </thead>
            <tbody>
                <!-- *ngIf *gFor are part of the BrowserModule that we imported into AppModules-->
                <!-- 'for product of products' will give you the values of the array -->
                <!-- 'for product in products' will give you the indexes of the array -->
                <tr *ngFor='let product of filteredProducts'>
                    <!-- Property Binding Allows for us to bind element properties to template expressions. -->
                    <!-- Element Property are in [] -->
                    <td>
                        <img *ngIf='showImage'
                                [src]='product.imageUrl'
                                [title]='product.productName'
                                [style.width.px]='imageWidth'
                                [style.margin.px]='imageMargin'>
                    </td>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.productCode | lowercase | convertToSpaces:'-' }}</td>
                    <td>{{ product.releaseDate }}</td>
                    <td>{{ product.price | currency:'USD':'symbol':'1.2-2'}}</td>
                    <!-- ($event) is used to access the $event argument that is passed to the @Output() event handler. -->
                    <td><pm-star [rating]='product.starRating'
                            (ratingClicked)='onRatingClicked($event)'></pm-star></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>